<!-- Footer -->

<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-nav mx-auto">
        <a href="" class="nav-item nav-link" href="#">ABOUT US</a>
      </div>
    </div>
  </nav>
</footer>
